@import url('https://fonts.googleapis.com/css2?family=Gidole&display=swap');

body{ 
    font-family: "Gidole", sans-serif;
    background-color: #f4f4f4;
}
section{
    max-width: 1140px;
    margin: 0 auto;
}
.menu ul li{
    display: inline-block;
}